<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/css/main-style.css">
    <title>EatInOslo</title>

</head>
<body>
    <div>
        <header>
            <a id="logo" href="/UserRestaurant/Welcome">EatInOslo</a>
        </header>

        <nav>
            <ul>
            </ul>
        </nav>

        <main>
            @RenderBody()
        </main>

        <footer>
            <p>EatInOslo &copy; 2018</p>
        </footer>
    </div>


</body>
</html>