@model Restaurant

<section>

    <section class="add-form">
        <form asp-action="EditRestaurants">
            <h3>Edit restaurant</h3>
            <input asp-for="ID" type="hidden">
            <label>Name
                <input class="input-box" asp-for="RestaurantName" type="text">
            </label>
            <input type="submit" value="Edit restaurant">

        </form>

    </section>


</section