@model Team

<section>

    <header>
        <h3>Edit Team</h3>
    </header>

    <section>

        <form asp-action="EditTeam">
            <input asp-for="ID" type="hidden">
            <label>Name
                <input asp-for="Name" type="text">
            </label>
            <input type="submit" value="Edit team"

        </form>

    </section>


</section>