@model IEnumerable<Review>
<section>
    <header>
        <h3>View reviews</h3>
    </header>

        <section>
            @{
                foreach (var reviews in Model)
                {
                   
                   <h3>@reviews.ReviewText</h3>
                }
            }

        </section>
    </section>
</section>