
    <section>
        <header>
            <h2>All restaurants in Lillestrøm</h2>
        </header>

        <section>
            @{
                foreach (var restaurants in Model)
                {
                   
                   <h3>@restaurants.RestaurantName</h3>
                   <a asp-controller="UserRestaurant" 
                   asp-action="ShowReviews" 
                   asp-route-id="@restaurants.ID">Les annmeldelse</a>
                }
            }
        </section>




    </section>