
    <section>
        <header>
            <h2>All restaurants in Lillestrøm</h2>
        </header>

        <section>
            @{
                foreach (Restaurant restaurant in Model)
                {
                    <article class="restaurant-article">
                   
                   <h3>@restaurant.RestaurantName</h3>
                   <a asp-controller="UserRestaurant" 
                   asp-action="ShowReviews" 
                   asp-route-id="@restaurant.ID">Les annmeldelse</a>

                   </article>

                }
            }
        </section>




    </section>