@model Restaurant
<section>
    <header>
        <h3>Reviews for</h3>
        <h1 id="restaurant-title">@Model.RestaurantName</h1>
    </header>

    
        <section>
            @foreach (Review review in Model.Review)
            {
                <article class="review-article">
                   <h2>@review.Title</h2>
                   <h4>@review.AuthorName mener:</h4>
                   <p>@review.ReviewText</p>
                </article>
                }

        </section>
    </section>
</section>