@model Restaurant
<section>
    <header>
        <h3>View reviews</h3>
    </header>

    <h1>@Model.RestaurantName</h1>
        <section>
            @foreach (Review review in Model.Review)
            {

                
                <article class="review-article">
                   <h2>@review.Title</h2>
                   <h4>@review.AuthorName mener:</h4>
                   <p>@review.ReviewText</p>
                </article>
                }

        </section>
    </section>
</section>