<h3>Velkommen til EatInOslo</h3>
<ul>
    <a asp-controller="UserRestaurant" 
    asp-action="ShowRestaurants"><li>Vis alle restauranter</a></li>        
    <a asp-controller="UserRestaurant" asp-action="ShowReviews"><li>Vis alle annmeldelser</a></li>
    <li>Skriv en annmeldelse</a></li>
</ul>