@model Review
@{
    ViewData["PageTitle"] = "Write review";

}

<section>

    <header>
        <h3>Write review</h3>
    </header>

    <section>
        <form asp-action="WriteReview">
            <label>Name
                <input asp-for="Name" type="text">
            </label>
            <span asp-validation-for="Name"></span>
            <label>Species
                <input asp-for="Species" type="text">
            </label>
            <span asp-validation-for="Species"></span>
            <input type="submit" value="Save pet">
        </form>
    </section>