@model Review


<section>

    <header>
        <h3>Write review</h3>
    </header>

    <section class="add-form">
        <form asp-action="WriteReviews">
            <label>Restaurant name
            <select class="input-box" id="restaurant-picker" asp-for="RestaurantID">
                <option label="Mirabel">1</option>
                <option label="Casa Mia">2</option>
                <option label="Fuser bar & for">3</option>
                <option label="Fratelli">4</option>
                <option label="Egons">5</option>
                <option label="Jekyll & Hyde">6</option>
                <option label="Chi">7</option>
                <option label="Solheimshagan">8</option>
                <option label="Bighorn Steakhose">9</option>
                <option label="Hinoki">10</option>
            </select>
            <br>
            </label>
        <label>Author name
                <input class="input-box" asp-for="AuthorName" type="text">
            </label>
            <br>
            <label>Title
                <input class="input-box" asp-for="Title" type="text">
            </label>
            <br>
            <label>Review text
               <textarea class="input-box" asp-for="ReviewText" rows="8" cols="40"></textarea>
            </label>
            <input type="submit" value="Save review">
        </form>
    </section>